<article id='posts-article'>
  <section class='user-item'>
    <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
    <section class='user-info'>
      <h2 class='user-name'> <%= @user.name %> </h2>
      <p class='user-posts-counter'>Number of posts: <%= @user.posts_counter %> </p>
    </section>
  </section>
  <article id="new-post-form">
    <%= render partial: 'shared/flash_msg' %>
    <%= render partial: 'new_post_form' %>
  </article>
  <article class="posts-section">
    <ul id='posts-list'>
      <% @posts.each do |post| %>
          <li class='post-item'>
            <div>
              <%= link_to user_post_path(post.author_id, post.id) do %>
                <section class="post-header with-border">
                  <%= render partial:'shared/post_item', locals: {post: post } %>
                </section>
              <% end %>
              <%= link_to post_likes_path(post.id), data: { turbo_method: :post }, class: "like-anchor" do %>
                <%= image_tag('like_icon.svg', alt: 'like button', class: "like-btn") %>
              <% end %>
            </div>
            <section class='comments-list with-border'>
              <ul id='comments-list'>
                <% if post.comments.any? %>
                  <% post.last_five_comments.each do |comment| %>
                    <li class='comment-item'> <%= @user.name %>: <%= comment.text %> </li>
                  <% end %>
                <% else %>
                  <p>No comments yet.</p>
                <% end %>
              </ul>
            </section>
          </li>
      <% end %>
    </ul>
    <button class="btn">Pagination</button>
  </article>
</article>
