<article id='posts-article'>
  <section class='user-item'>
    <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
    <section class='user-info'>
      <h2 class='user-name'> <%= @user.name %> </h2>
      <p class='user-posts-counter'>Number of posts: <%= @user.posts_counter %> </p>
    </section>
  </section>
  <article class="posts-section">
    <ul id='posts-list'>
      <% @posts.each do |post| %>
        <%= link_to user_post_path(post.author_id, post.id) do %>
          <li class='post-item'>
            <section class="post-header with-border">
              <h3 class='post-number'> <%= post.title %> </h3>
              <p class='post-content'> <%= post.text %> </p>
              <p class='interaction-section'>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %> </p>
            </section>
            <section class='comments-list with-border'>
              <ul id='comments-list'>
                <% if post.comments.any? %>
                  <% post.comments.each do |comment| %>
                    <li class='comment-item'> <%= @user.name %>: <%= comment.text %> </li>
                  <% end %>
                <% else %>
                  <p>No comments yet.</p>
                <% end %>
              </ul>
            </section>
          </li>
        <% end %>
      <% end %>
    </ul>
    <button class="btn">Pagination</button>
  </article>
</article>
