<article id='post-details-section'>
  <section class='post-item'>
    <article class="post-details with-border">
      <section class="post-deetails-header">
        <h3 class='post-title'> <%= @post.title%> by <%= @user.name %> </h3>
        <p class='interaction-section'>Comments: <%= @post.comments_counter %> , Likes: <%= @post.likes_counter %> </p>
      </section>
      <p class='post-content'> <%= @post.text %> </p>
    </article>
    <section class='comments-list with-border'>
      <ul id='comments-list'>
        <% if @post.comments.any? %>
          <% @post.comments.each do |comment| %>
            <li class='comment-item'> 
            <div class="comment-wrapper">
              <%= @post.author.name %>: <%= comment.text %> 
              <%= link_to post_comment_path(@post, comment), data: { confirm: 'Are you sure?', turbo_method: :delete }, class: "delete-comment-anchor" do %>
                <%= image_tag('delete_icon.svg', alt: 'Delete Comment', class: "delete-comment-btn") %>
              <% end %>
            </div>
            </li>
          <% end %>
        <% else %>
          <p>No comments yet.</p>
        <% end %>
      </ul>
    </section>
      <%= render partial: 'shared/flash_msg' %>
      <%= render partial: 'new_comment_form' %>
  </section>
</article>
